#amountDue {
	margin: 0 auto;
	float: none;
	display: block;

}

#amountGiven {
	margin: 10px auto;
	float: none;
	display: block;

}

#changeAmount {
	background-color: lightgrey;
	padding: 0.5em 0;
}

h5 {
	background-color: lightgrey;
	padding: 10px;
}

h5 span {
	padding: 0 5px;

}